<div class="page-header"><h1>TOP 10</h1></div>

<!-- <li><%= link_to 'Upload Photo', '/photos/new' %></li> -->

<div class="row">
  <% @photo.each do |photo| %>
  <div class="col-md-3">
    <p class="<%=photo.id%>"><%= link_to image_tag(photo.image.url(:thumb)), photo %> </p>

    <%=render(:partial => "/photos/upvotes", :locals => {:photo => photo}) %>  <!--rendering out the partial _upvotes.html.erb which is the like button-->

    <p class="post_by"><i> Posted by: <%=User.find_by(:id => photo.user_id).name%> </i><p>
  </div>
  <%end%>

</div>

<p><%= will_paginate @photo, class: 'pagination' %></p>
