<div class="page-header"><h1>Photo Feeds</h1></div>

<% if current_user %>
  <li><%= link_to 'Upload Photo', '/photos/new' %></li>
<%end%>

        <% @photo.each do |photo| %>
          <p class="<%=photo.id%>"><%= link_to image_tag(photo.image.url(:thumb)), photo %> </p>
          <p class="image-description"><%=photo.description%></p> <p class="post_by"><i> Posted by: <%=User.find_by(:id => photo.user_id).name%> </i><p>



            <%= link_to like_photo_path(photo), method: :put do %>
              Upvote
              <%= photo.get_upvotes.size %>
            <% end %>

            <%= link_to dislike_photo_path(photo), method: :put do %>
              Downvote
              <%= photo.get_downvotes.size %>
            <% end %>


          <a href="photos/<%=photo.id%>#disqus-thread">test</a>
        <%end%>

<!-- ------------------------------- -->

<div class="row">
  <div class="col-sm-6 col-md-4">

    <div class="thumbnail thumb-box">
      <% @photo.each do |photo| %>

        <%= link_to image_tag(photo.image.url(:thumb)), photo %>
      <div class="caption">
        <p class="image-description"><%=photo.description%></p> <p class="post_by"><i> Posted by: <%=User.find_by(:id => photo.user_id).name%> </i><p>
        <a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a>


        <%= link_to like_photo_path(photo), method: :put do %>
          Upvote
          <%= photo.get_upvotes.size %>
        <% end %>

        <%= link_to dislike_photo_path(photo), method: :put do %>
          Downvote
          <%= photo.get_downvotes.size %>
        <% end %>


     <!--LIKE BUTTON --><!--passing values to the like model upon clicking button, no user inputs required-->
                 <%if current_user%>
                    <%if current_user.id && Like.find_by(:photo_id => photo.id)%>
                        <!-- <%= button_to 'unlike', {:controller => :photos, :action => 'like_destroy', :method => :delete} %> -->

                        <%=form_for :like, url: photos_like_destroy_path, method: :delete do |f| %>
                          <%=f.number_field :user_id, value: current_user.id, type: "hidden" %>
                          <%=f.number_field :photo_id, value: photo.id, type: "hidden" %>
                          <%=f.submit "unlike #{photo.likes.count}", class: "btn btn-default" %> <!--for this particular photo in the loop, count the total likes-->
                        <%end%>

                    <%else%>
                        <%=form_for :like, url: photos_likes_path do |f| %>
                          <%=f.number_field :user_id, value: current_user.id, type: "hidden" %>
                          <%=f.number_field :photo_id, value: photo.id, type: "hidden" %>
                          <%=f.submit "Like #{photo.likes.count}", class: "btn btn-default" %> <!--for this particular photo in the loop, count the total likes-->
                        <%end%>
                    <%end%>
                        <%=photo.likes.count%>
                  <%end%>

                  <a href="photos/<%=photo.id%>#disqus-thread">test</a>

      </div>
      <%end%>
    </div>
  </div>
</div>

  <p><%= will_paginate @photo, class: 'pagination' %></p>
