<div class="editphoto_bg">

  <div class="page-header edit-photo-header"><h1>Upload Photo</h1></div>

<%= form_for @photo do |f| %>

  <div class="editphoto-upload-wrap" >
    <%= f.file_field :image, class: 'editphoto-upload btn btn-primary'%>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'editphoto-label' %> <br/>
    <%= f.text_field :description, class: 'editphoto-field'%>
  </div>

  <p class="editphoto-buttons">
    <%= f.submit 'Upload', class: 'btn btn-warning' %>
  </p>
<% end %>

</div>
