
<div class="photoshow_bg">
<p class='photoshow'><%= link_to image_tag(@photo.image.url(:thumb)), @photo.image.url, target: '_blank' %></p>
<p class="image-description"><%=@photo.description%></p> <p class="post_by"><i> Posted by: <b><%=User.find_by(:id => @photo.user_id).name%></b> at <%=User.find_by(:id => @photo.user_id).created_at%> </i><p>


<% if current_user && @photo.user_id == current_user.id %>

  <div class='edit_delete'>
  <%= button_to edit_photo_path(@photo), method: :get, class: 'btn btn-default edit-photo' do %>
    Edit
  <%end%>

  <%= button_to photo_path(@photo), method: :delete, class: 'btn btn-default delete-photo' do%>
    Delete
  <%end%>
  </div>

<%end%>


<div class="comments">
<div id="disqus_thread"></div>
<script>
(function() {
var d = document, s = d.createElement('script');
s.src = '//topicks.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
</div>

</div>
