<h1>ORIGINAL PICTURE</h1>

<p><%= link_to image_tag(@photo.image.url(:thumb)), @photo.image.url, target: '_blank' %></p>
<p class="image-description"><%=@photo.description%></p> <p class="post_by"><i> Posted by: <%=User.find_by(:id => @photo.user_id).name%> </i><p>

<% if current_user && @photo.user_id == current_user.id %>
  <%= button_to edit_photo_path(@photo), method: :get do %>
    <p>edit<p>
  <%end%>
  <%= button_to photo_path(@photo), method: :delete do%>
    <p>delete<p>
  <%end%>
<%end%>

<div id="disqus_thread"></div>

<!--DISQUS-->
<script>
(function() {
var d = document, s = d.createElement('script');
s.src = '//topicks.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
