<!DOCTYPE html>
<html>
<head>
  <title>Topick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Topick', root_path, class: 'navbar-brand' %>  <!--can replace topick with logo and uses navbar-brand class for styling-->
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Photos', photos_path %></li>
        <li><%= link_to 'About', about_path %></li>

        <% if user_signed_in? %>

          <li><%= link_to current_user.name, edit_user_registration_path %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>

        <% end %>
      </ul>
    </div>
  </nav>


  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <div class="page-header">
      <h1><%= yield :page_header %></h1>
    </div>


<%= yield %>
<!-- <script id="dsq-count-scr" src="//topicks.disqus.com/count.js" async></script> -->
</body>
</html>
